
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.editorconfig

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# System files and IDE settings folders
.DS_Store
.idea
.vscode