@import url('./__content/header__content.css');
@import url('./__link/header__link.css');
@import url('./__paragraph/header__paragraph.css');

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 768px) {
  .header {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 882px;
  }
}
